
@import "variables";
@import "./../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "./../../node_modules/bootstrap/scss/_grid.scss";
//@import "./../../node_modules/bootstrap/scss/_nav.scss";
@import "./../../node_modules/bootstrap/scss/_nav.scss";
@import "./../../node_modules/bootstrap/scss/_navbar.scss";
@import "./../../node_modules/bootstrap/scss/_forms.scss";
@import "./../../node_modules/bootstrap/scss/_card.scss";
@import "./../../node_modules/bootstrap/scss/_buttons.scss";
@import "./../../node_modules/bootstrap/scss/_type.scss";
@import "./../../node_modules/bootstrap/scss/_utilities.scss";

@import "./../../node_modules/bootstrap/scss/_tooltip.scss";
@import "./../../node_modules/bootstrap/scss/_transitions.scss";

@import "blocks/header";

//@import "./../../node_modules/bootstrap/scss/bootstrap.scss";



@import "main2.scss";
#popa {
    color: green
}
button.btn.btn-outline-wdev {
    text-transform: uppercase;
    border-color: #fff;
    font-size: 1rem;
    &:hover{
        border-color: transparent
    }
}