

$sizes: (
  30: 30%,
  62p: 62px
);

$spacer: 1rem;
$spacers: (
  5: ($spacer * 2),
  6: ($spacer * 2.5),
  7: ($spacer * 3),
  8: ($spacer * 3.5),
  9: ($spacer * 4),
  10: ($spacer * 4.5),
  11: ($spacer * 5)
);

// ---

$gray-1: #f0f1f1;
$grays: (
    "1": $gray-1
);
$popka-color: #f3332a;
$turquoise: #00897b;
$turquoise-light: #e4fdf9;
$colors: (
    "turquoise": $turquoise,
    "turquoise2": $turquoise-light,
    "popka-color": $popka-color
);

// --
$popka:         $popka-color;
$wdev:    $turquoise;
$theme-colors: (
    "popka":  $popka,
    "wdev":   $wdev
);
// --
//$btn-border-radius-lg: 0;

$border: red;

// MIXINS


