

$sizes: (
  30: 30%,
  62p: 62px
);

$spacer: 1rem;
$spacers: (
  6: ($spacer * 4.5),
  7: ($spacer * 5)
);


// ---
$popka-color: #f3332a;
$colors: (
    "popka-color": $popka-color
);

// --
$popka:         $popka-color;
$theme-colors: (
    "popka": $popka
);
