doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        link(href="styles/main.css" type="text/css" rel="stylesheet" media="all")
        title Web Development
    body
        

        nav.navbar.navbar-light.bg-light.navbar-expand-custom-breakpoint
            .container
                a.navbar-brand(href="#") Логотип
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1")
                    span.navbar-toggler-icon

                .collapse.navbar-collapse(id="navbarSupportedContent1")
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href="#") Home
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="#") About
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="#") Servicing
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="#") Portfolio
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="#") Blog
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="#") Contact us

        header.header
            .header__top.container.border.border-info
                h1.display-4 Web-development project
                p.lead Very suitable to support all web development projects
                .button-block.mt-5
                    button.btn.btn-outline-wdev.btn-lg.mx-2.py-3.px-5.rounded-0.text-white(type="button") Our services
                    button.btn.btn-outline-wdev.btn-lg.mx-2.py-3.px-5.rounded-0.text-white(type="button") Hire is now
            .header__bottom.pb-7
                img(src="images/icons/down.png" alt="The down arrow logo")

        .container.border.border-primary

            .row.py-11
                .col-12
                    .card.w-75.mx-auto.border-1
                        .card-body
                            h5.card-title.text-center.font-weight-bold.h3 About Us
                            p.card-text.text-center Это длиннющий текст, который мы сейчас растянем таким образом, чтобы он занимал много места и создавалось ощущение многострочного текста даже когда мы просмотриваем этот текст на широкоэкранном мониторе.

            .row
                .col-lg-4.order-lg-1.col-md-6.order-md-2
                    .card.border-0
                        img.card-img-top.w-62p.mx-auto(src="images/icons/internet_62.png" alt="альтернатива")
                        .card-body
                            h5.card-title.text-center.font-weight-bold Awesome Icons
                            p.card-text.text-center Длинный текст карточки, ещё дополнительный текст, чтобы расширить карточку, который я не могу, блин, сгенерировать, потому что мне лень разбираться с плагином Lorem Ipsum

                .col-lg-4.order-lg-2.col-md-12.order-md-1
                    .card.border-0
                        img.card-img-top.w-62p.mx-auto(src="images/icons/transfer_70-60.png" alt="альтернатива")
                        .card-body
                            h5.card-title.text-center.font-weight-bold One Page
                            p.card-text.text-center Длинный текст карточки, ещё дополнительный текст, чтобы расширить карточку, который я не могу, блин, сгенерировать, потому что мне лень разбираться с плагином Lorem Ipsum
            
                .col-lg-4.order-lg-3.col-md-6.order-md-3
                    .card.border-0
                        img.card-img-top.w-62p.mx-auto(src="images/icons/head_57-63.png" alt="альтернатива")
                        .card-body
                            h5.card-title.text-center.font-weight-bold Fully Responsive
                            p.card-text.text-center Длинный текст карточки, ещё дополнительный текст, чтобы расширить карточку, который я не могу, блин, сгенерировать, потому что мне лень разбираться с плагином Lorem Ipsum

        script(type="text/javascript" src="scripts/bundle.js")


